<h2><%=@recipe.name%></h2>

<% if @recipe.food_photo.attached? %>
<image src = "<%=(url_for(@recipe.food_photo))%>">
<% end %>

<h3>Ingredients</h3>

<p> <%= @recipe.ingredients %> </p>

<%= button_to "Delete #{@recipe.name}", "/recipes/#{@recipe.id}", method: :delete %>
